@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto-500Medium.ttf");
}

@font-face {
    font-family: 'Shrikhand';
    src: url("../font/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-light';
    src: url("../font/Roboto-100Thin.ttf");
}